// _variables.scss

// COLORS
$primary-color: #542e90;
$secondary-color: #fff200;
$dark-color: #1d1d1b;
$light-color: #f4f4f2;
$grey-dark-color: #575756;
$grey-light-color: #a7a9ac;

// FONTS
$font-family: 'Montserrat', sans-serif;
$font-optical-sizing: auto;
$font-weight: 400;
$font-style: normal;
